body {
  --s: 25px; /* control the size */
  --c1: #181818;
  --c2: #101010;
  --c3: #080808;

  /* https://css-pattern.com/ */
  background:
    conic-gradient( from 75deg,var(--c1)   15deg ,var(--c2) 0 30deg ,#0000 0 180deg,
                    var(--c2) 0 195deg,var(--c1) 0 210deg,#0000 0) 
    calc(0.5*var(--s)) calc(0.5*var(--s)/0.577),
    conic-gradient( var(--c1)   30deg ,var(--c3) 0 75deg ,var(--c1) 0 90deg, var(--c2) 0 105deg,
                    var(--c3) 0 150deg,var(--c2) 0 180deg,var(--c3) 0 210deg,var(--c1) 0 256deg,
                    var(--c2) 0 270deg,var(--c1) 0 286deg,var(--c2) 0 331deg,var(--c3) 0);
  background-size: var(--s) calc(var(--s)/0.577);
  /* 0.577=tan(30deg)*/

  margin: 0 auto;
  padding: 2% min(2%, .5rem);
  max-width: 1000px;

  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",
    "Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
    "Noto Color Emoji";
  line-height: 1.5rem
}

.text-center {
  text-align: center;
}
